{% extends 'baseuser.html' %}
{% load staticfiles %}
{% block title %}忘记密码{% endblock %}
{% block content %}
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">忘记密码</h4>
							<form method="POST">{% csrf_token %}
							 
								<div class="form-group">
									<label for="username">用户名</label>
									<input id="username" type="text" class="form-control" name="username" value="" required autofocus>
									<div class="form-text text-muted">
										点击“重置密码”，我们将发送一个密码重置链接
									</div>
								</div>

								<div class="form-group no-margin">
									<button type="submit" class="btn btn-primary btn-block">
										重置密码
									</button>
								</div>
							</form>
						</div>
					</div>
{% endblock %}