{% extends 'baseuser.html' %}
{% load staticfiles %}
{% block title %}重置密码{% endblock %}
{% block content %}
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">重置密码</h4>
							<form method="GET">{% csrf_token %}
							 
								<div class="form-group">
									<label for="new-password">新密码</label>
									<input id="new-password" type="password" class="form-control" name="password" required autofocus data-eye>
									<div class="form-text text-muted">
										确保您的密码牢固且易于记住
									</div>
								</div>

								<div class="form-group no-margin">
									<button type="submit" class="btn btn-primary btn-block">
										重置密码
									</button>
								</div>
							</form>
						</div>
					</div>
					{% endblock %}